$teal-color: #009ba8;
$teal-color-2:#215E81;
$teal-hover-color: #0fb3aecd;
$custom-secondary:#D3DFE6;
$wh: white;

$padding: 3rem + 0.5rem;

$fxc: center;
$fxsb: space-between;

$futura-demi: "futura-demi";
$futura-bold: "futura-bold";
$futura-light: "futura-light";
$futura-medium: "futura-medium";
